/* Include this somewhere in your main.css for the background iamge */
body {
    background-image: url(images/nza_background.jpg);
}

.about-pad-sidebar {
    padding-left: 30px;
    text-align: left;
    background-color: rgb(122, 9, 9);
    color: white;
}


.about-left {
    margin-left: -35px;
}

#about-attorney {
    text-align: center;
    width: 230px;
}

#about-small{
    font-size: small;
    margin-top: -15px;
    
}

#about-text {
    margin-left: 100px;
    margin-right: 100px;
}

#about-pics {
    text-align: center;
    padding: 20px;
    margin: 20px;
}
#about-ps {
    margin-right: 10px;
    margin-bottom: 10px;
}
#about-pl {
    margin-left: 10px;
    margin-bottom: 10px;
}
#about-pb {
    margin-right: 10px;
    margin-top: 10px;
}
#about-pt {
    margin-left: 10px;
    margin-top: 10px;
}
#about-ph{
    margin-right: 325px;
    margin-top: 20px;
    margin-bottom: 30px;

}