body {
    background-image: url(images/nza_background.jpg);


}
.container {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 80px;
    padding-left: 80px;
     




}

ul {
list-style-type: none;
text-justify: left;
font-size: large;
width:100%;
font-family: Helvetica, sans-serif, Arial;


}

li {
  width: 100%;   


}

.service-sidebar {
     background-image: url(images/nav_side.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     color: white;
     
     
     
}

.hr nice-line{
 text-decoration-line: white;
 border: 1px solid white;



}


     
    
.row extra-space {
    margin: 0px;



}

#attorney-pic {
    text-align:center;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;

}

img {
    width: 100%;
    margin-top: 30px;
    margin-bottom:20px;
}

.col-md-9 {
    padding-left: 45px;
}




